body {
    text-align: center;
}

#banner {
    width: 100%;
    height: 25px;
    background-color: #efefef;
}

#validation-container {
    margin: 50px auto;
    width: 90%;
}

#validation_text {
    padding: 25px;
}