<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org">
    <head>
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/aboutpage.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About Tomfit</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark">
            <div>
                <a class="navbar-brand" href="/home">
                    <img th:src="@{/image/logo.jpg}" alt="Logo" style="width:150px;">
                </a>
            </div>
        </nav>
        <div class="container">
            <h3 style="margin:20px">About TomFit</h3>
            <p>Tomfit is where your fitness journey begins. Or it is the boost that your ongoing journey needs.</p>
            <p>Here you can record your exercises everyday to keep track of your accomplishments.</p>
        </div>
    </body>
</html>